body {
    margin: 0px;
    overflow: hidden;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    width: 3px;
    height: 3px;
    /* border: 1px gray solid; */
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}